<!doctype html>
<html lang="en" ng-app="score-counterApp">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ScoreCounter</title>
    <link rel="stylesheet" href="stylesheets/app.css"/>
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/angular/angular.js"></script>

</head>
<body>
<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
        <nav class="tab-bar">
            <!--<section class="left-small"><a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a></section>-->
            <section class="middle tab-bar-section"><h1 class="title">ScoreCounter</h1></section>
        </nav>
        <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
                <li><label>Menu</label></li>
                <li><a href="#">The Psychohistorians</a></li>
                <li><a href="#">...</a></li>
            </ul>
        </aside>

        <section class="main-section" ng-controller="PanelController as panel">
            <div id="header" class="row text-center panel">
                <h1>Score Counter</h1>
                <h4>The application that helps you compete with friends.</h4>
            </div>
            <div id="setup" ng-show="panel.isActive(1)">

                <div class="row">
                    <div class="alert-box alert radius text-center" ng-show="errorMessage">
                        <b>Hey!</b> {{ errorMessage }}
                        <a href="#" class="close">&times;</a>
                    </div>
                </div>
                <div class="row">
                    <div class="small-6 columns">
                        <h3>Add Player</h3>
                        <form name="playerForm" ng-controller="FormController as form" novalidate ng-submit="playerForm.$valid && form.addPlayer()">
                            <label>
                                Name:
                                <input type="text" ng-model="player.name" required>
                                <button type="submit">Add</button>
                            </label>
                        </form>
                    </div>
                    <div class="small-6 columns" ng-controller="ListController">
                        <h3>Added Players</h3>
                        <div ng-repeat="player in players">
                            {{player.name}}
                        </div>
                    </div>
                </div>
                <div id="startButton" class="row text-center">
                    <a href="#" ng-click="panel.setPanel(2)" class="button large alert">Start Game</a>
                </div>
            </div>
            <div id="game" class="row text-center" ng-show="panel.isActive(2)">
                <ul class="small-block-grid-2" ng-class="{'medium-block-grid-3':game.moreThan2Players()}" ng-controller="GameController as game">
                    <li ng-repeat="player in game.players">
                        <a ng-click="game.addScore(player)">
                            <div class="panel radius">
                                <h4>{{ player.name }}</h4>
                                <span class="big-number">{{ player.score }}</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <a class="exit-off-canvas"></a></div>
</div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/foundation/js/foundation.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>
